.text-gold {
  color: #e8a622;
}
.btn-gold {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #e8a622;
}
.btn-gold-light {
  border-radius: 5px;
  border: solid 2px #e8a622;
  box-shadow: 0 0px 0px 0px;
  color: #e8a622;
  
}
.btn-gold-light:hover {
  color: #e8a622;
}
